Repository MicrosoftDocs/appcenter-docs, pull requests merged in 2020-09, with the labels that each got.

#1040 Update nodejs.md
  docs/build/react-native/nodejs.md
Labels: Change sent to author, app-center-build/subsvc, ready-to-merge, vs-appcenter/svc

#1098 docs(custom-scripts): CFBundleName -> CFBundleDisplayName
  docs/build/custom/scripts/index.md
Labels: Change sent to author, app-center-build/subsvc, ready-to-merge, vs-appcenter/svc

#1125 fix http bugs
  docs/build/troubleshooting/index.md
  docs/test-cloud/troubleshooting/index.md
Labels: Change sent to author, app-center-build/subsvc, ready-to-merge, vs-appcenter/svc

#1130 Fix typo
  docs/diagnostics/features.md
Labels: Change sent to author, app-center-diagnostics/subsvc, do-not-merge, vs-appcenter/svc

#1140 Corrects product terminology
  docs/build/choose-between-services.md
Labels: Change sent to author, app-center-build/subsvc, do-not-merge, vs-appcenter/svc
