Repository MicrosoftDocs/appcenter-docs, pull requests merged in 2020-04, with the labels that each got.

#742 Clarify an answer and fix some typos
  docs/analytics/faq.md
Labels: Change sent to author, app-center-analytics/subsvc, vs-appcenter/svc

#736 Update first-build.md
  docs/build/ios/first-build.md
Labels: Change sent to author, app-center-build/subsvc, vs-appcenter/svc

#987 docs(provisionoing): add more info about the profiles
  docs/build/ios/code-signing.md
Labels: Change sent to author, app-center-build/subsvc, do-not-merge, vs-appcenter/svc

#988 Fixing grammatical issue
  docs/distribution/installation.md
Labels: Change sent to author, app-center-distribute/subsvc, vs-appcenter/svc

#735 Add further information regarding shared schemes.
  docs/build/troubleshooting/ios.md
Labels: Change sent to author, app-center-build/subsvc, do-not-merge, vs-appcenter/svc

#1004 Suggestion: Updated React Native build script examples
  docs/build/react-native/Android/index.md
  docs/build/react-native/iOS/index.md
Labels: Change sent to author, app-center-build/subsvc, vs-appcenter/svc

#1010 JavaScript stack traces are not available for Android (React Native)
  docs/sdk/crashes/react-native.md
Labels: Change sent to author, do-not-merge, vs-appcenter-sdk/svc
