Repository MicrosoftDocs/appcenter-docs, pull requests merged in 2020-01, with the labels that each got.

#892 wpf-winforms.md: fix small error in example.
  docs/sdk/crashes/wpf-winforms.md
Labels: Change sent to author, do-not-merge, vs-appcenter/svc

#902 Suggestion about repo size
  docs/build/troubleshooting/general.md
Labels: Change sent to author, app-center-build/subsvc, ready-to-merge, vs-appcenter/svc

#901 Reference troubleshooting guide from index.md
  docs/build/index.md
Labels: Change sent to author, app-center-build/subsvc, do-not-merge, vs-appcenter/svc
