Repository MicrosoftDocs/appcenter-docs, pull requests merged in 2020-05, with the labels that each got.

#1012 Fix typo (depreciated -> deprecated)
  docs/test-cloud/calabash/preparing-for-upload.md
Labels: Change sent to author, app-center-test/subsvc, do-not-merge, vs-appcenter/svc

#1013 Fix typo (depreciated -> deprecated)
  docs/test-cloud/getting-started.md
Labels: Change sent to author, app-center-test/subsvc, do-not-merge, vs-appcenter/svc

#1022 Fixing NotificationHub.initialize parameter order
  docs/migration/push/index.md
Labels: Change sent to author, app-center-general/subsvc, do-not-merge, vs-appcenter/svc

#1029 Fixed minor typos
  docs/sdk/other-apis/cordova.md
  docs/sdk/push/xamarin-forms.md
  docs/test-cloud/uitest/working-with-gestures.md
Labels: Change sent to author, app-center-general/subsvc, ready-to-merge, vs-appcenter/svc

#1028 Fixed typos
  docs/sdk/analytics/unity.md
  docs/sdk/getting-started/unity.md
Labels: Change sent to author, app-center-analytics/subsvc, app-center-general/subsvc, ready-to-merge, vs-appcenter-sdk/svc, vs-appcenter/svc

#1025 Add Unity to list of analytics options
  docs/analytics/event-metrics.md
Labels: Change sent to author, app-center-analytics/subsvc, ready-to-merge, vs-appcenter/svc

#1023 Update googleplay.md
  docs/distribution/stores/googleplay.md
Labels: Change sent to author, app-center-distribute/subsvc, ready-to-merge, vs-appcenter/svc

#1032 Update iOS for AppCenterPush migration
  docs/migration/push/index.md
Labels: Change sent to author, app-center-general/subsvc, ready-to-merge, vs-appcenter/svc

#1043 Update React Native Build documentation to mention Expo CLI
  docs/build/react-native/index.md
Labels: Change sent to author, app-center-build/subsvc, do-not-merge, vs-appcenter/svc
