Repository MicrosoftDocs/appcenter-docs, pull requests merged in 2020-06, with the labels that each got.

#1052 Duplicate entry
  docs/build/react-native/iOS/index.md
Labels: Change sent to author, app-center-build/subsvc, do-not-merge, vs-appcenter/svc

#1057 Update xamarin.md
  docs/sdk/getting-started/xamarin.md
Labels: Change sent to author, app-center-general/subsvc, vs-appcenter-sdk/svc

#1061 Fix typo in Calabash section heading
  docs/TOC.md
Labels: review-team-triage

#1070 Update sdk-retirement.md
  docs/transition/sdk-retirement.md
Labels: Change sent to author, app-center-transition/subsvc, do-not-merge, vs-appcenter/svc

#1069 Update connect.md
  docs/build/connect.md
Labels: Change sent to author, app-center-build/subsvc, do-not-merge, vs-appcenter/svc
