Repository MicrosoftDocs/appcenter-docs, pull requests merged in 2021-06, with the labels that each got.

#1253 Typo "NuGet.config files"→"NuGet.Config files"
  docs/build/uwp/index.md
Labels: Change sent to author, app-center-build/subsvc, ready-to-merge, vs-appcenter/svc

#1252 Typo "NuGet.config"→"NuGet.Config"
  docs/build/custom/dependencies/index.md
Labels: Change sent to author, app-center-build/subsvc, ready-to-merge, vs-appcenter/svc

#1251 Typo "NuGet.config files"→"NuGet.Config files"
  docs/build/troubleshooting/xamarin.md
Labels: Change sent to author, app-center-build/subsvc, do-not-merge, vs-appcenter/svc

#1250 Typo "NuGet.config files"→"NuGet.Config files"
  docs/build/custom/variables/index.md
Labels: Change sent to author, app-center-build/subsvc, ready-to-merge, vs-appcenter/svc

#1265 fix typo
  docs/distribution/testers/testing-android.md
Labels: Change sent to author, app-center-distribute/subsvc, ready-to-merge, vs-appcenter/svc
