Repository MicrosoftDocs/appcenter-docs, pull requests merged in 2022-05, with the labels that each got.

#1343 added missing available Node.js versions
  docs/build/react-native/nodejs.md
Labels: Change sent to author, ready-to-merge, vs-appcenter/svc, app-center-build/subsvc

#1327 Note: do not ignore Gradle wrapper files
  docs/build/android/index.md
Labels: Change sent to author, ready-to-merge, vs-appcenter/svc, app-center-build/subsvc

#1365 Update wpf-winforms.md
  docs/sdk/getting-started/wpf-winforms.md
Labels: do-not-merge, Change sent to author, app-center-general/subsvc, vs-appcenter-sdk/svc

#1366 [analytics/overview] update Countries and Languages section
  docs/analytics/overview.md
Labels: do-not-merge, Change sent to author, vs-appcenter/svc, app-center-analytics/subsvc

#1367 Update uwp.md
  docs/sdk/troubleshooting/uwp.md
Labels: do-not-merge, Change sent to author, app-center-general/subsvc, vs-appcenter-sdk/svc
